*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); 
    padding: 0 50px; 
    font-size: 30px;
    height: 70px;
    margin: 40px;
}
.cart{
    position: relative;
    padding: 5px;
}
.cartamount{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px; */
}
.nav1{
    display: flex;
    gap: 40px;
}