*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); 
    padding: 0 40px; 
    font-size: 30px;
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    gap: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.cart{
    position: relative;
    padding: 5px;
    list-style-type: none;
}
.cartamount{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px; 
}
.nav > li {
    list-style-type: none;
}
.nav{
    display: flex;
    gap: 30px;
}
.name{
    font-size: 14px;
}
.username{
    display: flex;
    font-size: 16px;
    gap: 20px;

}
/* first bar style */
.mainbar{
    display: flex;
    align-items: center;
    gap: 450px;
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 50px;
    font-size: 30px;
}
.name1{
    font-size: 20px;
    font-weight: bold;
}

/* Gallery items style  */

.shop{
    display: grid;
    grid-template-columns: repeat(5, 220px);
    gap: 40px;
    justify-content: center;
    margin-bottom: 20PX;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 220px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 220px);
    }
}
.item{
    border-radius:15px;
    background-color: beige;
    padding: 14px;
    padding-bottom: 0px;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    gap: 2px;
}
.price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 8px;
    font-size: 18px;
}
.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}

/* offersform style */

.offers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
}
input[type=date]{
        width: 180px;
        font-size: 16px;
}
.add {
    border-radius: 5px;
    background: #f74e0c;
    border: 0px solid #f74e0c;
    width: 110px;
    height: 35px;
    color: white;
    font-weight: bold;
}
.offers1{

    margin-left: 30px;
    margin-right: 30px;
}
.offers2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap:20px;
}
.textarea{
    width: 500px;
}
.oldoffers{
    border-radius: 5px;
    background: #f74e0c;
    border: 0px solid #f74e0c;
    width: 110px;
    height: 35px;
    color: white;
    font-weight: bold;
    margin-left: 100px;
}

/* index page style */

.footer{
    display: flex;
    justify-content: center;
    gap:60px;
}
.account{
    width: 50px;
    height: 50px;
}
.chocolate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    height: 300px;
    width: 800px;
    margin: 10px;
    gap: 10px;
}
.popularitem{ 
    align-items: center; 
    
}
.populardetails{
    display: flex;
    gap: 100px;
} 
.popularphoto{
    width: 400px;
    height: 220px;
    margin-top: 0px;
}
.populartitle{
    /* margin-left: 180px; */
    display: flex;
    font-size: 22px;
    justify-content: center;
}
/* .photobackground{
    display: flex;
    align-items: center;
    width: 500px;
    height: 220px;
    background-color:  rgba(0, 0, 0, 0.3);
    border-radius: 7px;
} */
.populardetails1{
    font-size: 20px;
}
.populardetails2{
    font-size: 14px;
    color: gray;
} 
